<style type="text/css">
table.table-fh {
    width: 100%;
}
table.table-fh, table.table-fh > tbody > tr > td {
    border-collapse: collapse;
    border: 1px solid #000;
}
table.table-fh > thead {
    display: table;
    width: calc(100% - 17px);
}
table.table-fh > tbody {
    display: block;
    max-height: 90vh;
    overflow-y: scroll;
}

table.table-fh.table-4c > thead > tr >th, table.table-fh.table-4c > tbody > tr > td {
    width: calc(100% / 4);
}
table.table-fh.table-5c > thead > tr >th, table.table-fh.table-5c > tbody > tr > td {
    width: calc(100% / 5);
}
table.table-fh.table-6c > thead > tr >th, table.table-fh.table-6c > tbody > tr > td {
    width: calc(100% / 6);
}
table.table-fh.table-7c > thead > tr >th, table.table-fh.table-7c > tbody > tr > td {
    width: calc(100% / 7);
}
table.table-fh.table-8c > thead > tr >th, table.table-fh.table-8c > tbody > tr > td {
    width: calc(100% / 8);
}
table.table-fh.table-9c > thead > tr >th, table.table-fh.table-9c > tbody > tr > td {
    width: calc(100% / 9);
}
table.table-fh.table-10c > thead > tr >th, table.table-fh.table-10c > tbody > tr > td {
    width: calc(100% / 10);
}
table.table-fh.table-11c > thead > tr >th, table.table-fh.table-11c > tbody > tr > td {
    width: calc(100% / 11);
}
table.table-fh.table-12c > thead > tr >th, table.table-fh.table-12c > tbody > tr > td {
    width: calc(100% / 12);
}

table.table-fh > thead > tr >th, table.table-fh > tbody > tr > td {
    padding: 5px;
    word-break: break-all;
    text-align: left;
}
table.table-fh > tbody > tr {
    display: table;
    width: 100%;
}
table.table-fh > tbody > tr > td {
    border: none;
}
body {
	overflow-y: hidden;
}
</style>